<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MusicFYP</title>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="top-bar">
            <a class="active" href="/">Home</a>
            <a href="/recommendations">Get Song Recommendations</a>
            <a href="/playlists">Public Playlists</a>
        </div>

        <br>
        <br>

        <div>
            <h1>MusicFYP</h1>
        </div>

        <br>


    </body>
</html>