<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MusicFYP</title>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>MusicFYP</h1>

        <br>
        
        <div>
            <a href="/playlists">Playlists</a>
        </div>

        <br>

        <div>
            <a href="/recommendations">Recommendations</a>
        </div>
    </body>
</html>