<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MusicFYP</title>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="main">
            <div class="top-bar">
                <a class="active" href="/">Home</a>
                <a href="/recommendations">Get Song Recommendations</a>
                <a href="/playlists">Public Playlists</a>
            </div>
            <div>
                <h1>MusicFYP</h1>
            </div>
    
            <h2>About</h2>
            <p>This app uses the Spotify API to create public playlists with song recommendations.</p>
            <p>By: Rahul Jasmin, Alex Cook, Jeffrey Jiang</p>
        </div>
    </body>
</html>