<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MusicFYP</title>
    </head>
    <body>
        <h1>MusicFYP</h1>
        
        <form action="http://localhost:3000/playlists" method="get">
            <input type="submit" value="Playlists">
        </form>

        <form action="http://localhost:3000/recommendations" method="get">
            <input type="submit" value="Recommendations">
        </form>
    </body>
</html>