<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Invalid</title>
</head>
<body>
    <h1>Invalid <%- field %></h1>

    <form>
        <input type="button" value="Go back" onclick="history.back()">
    </form>
</body>
</html>