<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Playlists</title>
</head>
<body>
    <h1>Playlists</h1>

    <ul>
        <% for (let i = 0; i < playlists.length; i++) { %>
            <li>
                <a href="http://localhost:3000/playlist?name=<%= playlists[i].name %>"><%= playlists[i].name %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>