<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommend Songs</title>
    </head>
    <body>
        <div class="top-bar">
            <a href="/">Home</a>
            <a class="active" href="/recommendations">Get Song Recommendations</a>
            <a href="/playlists">Public Playlists</a>
        </div>
        <div>
            <h1>MusicFYP</h1>
        </div>
        
        <div class="container">
            <h2>Make a Playlist</h2>
            
            <form action="/recommendations" method="post">
                <label for="artist">Favorite Artist: </label>
                <input type="text" id="artist" name="artist">

                <br>
                <label for="track">Favorite Song: </label>
                <input type="text" id="track" name="track">
                <label for="songArtist"> By: </label>
                <input type="text" id="songArtist" name="songArtist">

                <br>
                <label for="genre">Favorite Genre: </label>
                <input type="text" id="genre" name="genre">

                <br>
                <label for="playlist">Playlist Name: </label>
                <input type="text" id="playlist" name="playlist">

                <br>
                <label for="limit">Number of Recommendations: </label>
                <input type="number" id="limit" name="limit" min="1" max="20">

                <br>
                <input type="reset">
                <input type="submit" value="Get Playlist">
            </form>
        </div>
    </body>
</html>