<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommend Songs</title>
    </head>
    <body>
        <h1>Recommend Songs</h1>

        <form action="/recommendations" method="post">
            <label for="artist">Enter your favorite musical artist: </label>
            <input type="text" id="artist" name="artist">

            <br>
            <label for="track">Enter your favorite song: </label>
            <input type="text" id="track" name="track">
            <label for="songArtist"> By: </label>
            <input type="text" id="songArtist" name="songArtist">

            <br>
            <label for="genre">Enter your favorite genre: </label>
            <input type="text" id="genre" name="genre">

            <br>
            <label for="playlist">Enter a name for your playlist: </label>
            <input type="text" id="playlist" name="playlist">

            <br>
            <input type="reset">
            <input type="submit" value="Get Playlist">


        </form>
        
    </body>
</html>