<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommend Songs</title>
    </head>
    <body>
        <div class="main">
            <div class="top-bar">
                <a href="/">Home</a>
                <a class="active" href="/recommendations">Get Song Recommendations</a>
                <a href="/playlists">Public Playlists</a>
            </div>
            <div>
                <h1>MusicFYP</h1>
            </div>
            
            <div class="container">
                <h2>Make a public playlist from a song</h2>
                
                <form action="/recommendations" method="post">
                    
                    <br>
                    <label for="playlist">Playlist Name: </label>
                    <input type="text" id="playlist" name="playlist" size="46px">
                    
                    <br>
                    <label for="track">Song Title: </label>
                    <input type="text" id="track" name="track" size="50px">
                    
                    <br>
                    <label for="artist">Artist: </label>
                    <input type="text" id="artist" name="artist" size="25px">
    
                    <label for="genre">Genre: </label>
                    <input type="text" id="genre" name="genre">
    
                    <br>
                    <label for="limit">Number of Recommendations: </label>
                    <input type="number" id="limit" name="limit" min="1" max="20">
    
                    <br>
                    <input class="btn" type="reset">
                    <input class="btn" type="submit" value="Get Playlist">
                </form>
            </div>
    
        </div>
     </body>
</html>